<div>
<h1>Articles Tagged with <%= @tag.keyword %></h1>

<ul>
  <% @tag.posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul>

<button class = 'btn btn-warning'>
<%= link_to 'Home', root_path %>
</button>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox.js" crossorigin="anonymous"></script>