<div>
<h2 class="postTitle">Articles Tagged with <%= @tag.keyword %> :</h2>

<div class="showPost">
  <% @tag.posts.each do |post| %>
    <h4><%= link_to post.title, post_path(post) %></h4>
  <% end %>
  </div>


<button class = 'btn btn-warning'>
<%= link_to 'Home', root_path %>
</button>

</div>

