/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

 /* font-family: 'VT323', monospace;
 font-family: 'Open Sans', sans-serif; */


body {
  background-color: grey !important;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'VT323', monospace;
}

h2 {
  margin-top: 0;
  font-family: 'VT323', monospace;
}

h3 {
  margin-top: 0;
  font-family: 'VT323', monospace;
}

h4 {
  color: orange;
  font-family: 'VT323', monospace;
}

img {
  /* max-width: 300px; */
  border-radius: 10px;
}

div .indexPost {
  outline: 2px solid black;
  max-width: 400px;
  margin-top: 10px;
  padding: 10px;
  background-color: white;
}





.sidebar-nav {
  display: block;
  float: left;
  width: 150px;
  list-style: none;
  margin: 0;
  padding: 0;
}



.btn-group-vertical {
  margin-top: 10px;
  margin-left: 10px;
  height: 100%;
}

.footer {
  color: orange;
  padding: 0;
  margin-bottom: 0;
}

/* .navbar-inverse{
  border-radius: none;
} */

#content{
  margin-top: 60px;
  margin-bottom: 60px;
  margin: 60px auto;
}

#brand {
  color: orange;
  font-family: 'VT323', monospace;
  font-size: 30px;
}

.showPost {
  margin-top: 10px;
  background-color: white;
  max-width: 600px;
  padding: 10px;
  border-radius: 10px;
}

.postTitle {
  color: orange;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

#logInForm {
  margin: 0 auto;
  text-align: center;
  
}
