/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

img {
  max-width: 300px;
}

div .indexPost {
  outline: 2px solid black;
  max-width: 400px;
  margin-top: 10px;
  padding: 10px;
  
}

h2 {
  margin-top: 0;
}

.sidebar-nav {
  display: block;
  float: left;
  width: 150px;
  list-style: none;
  margin: 0;
  padding: 0;
}



.btn-group-vertical {
  margin-top: 10px;
  margin-left: 10px;
  height: 100%;
}

footer {
  background-color: black;
  color: white;
  margin-top: 10px;
}

nav.navbar-inverse{
  border-radius: none;
}